@import "./variables";

h1 {
  font-size: $font-size-3xl;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: $font-size-2xl;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: $font-size-xl;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: $font-size-lg;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h5,
h6 {
  font-size: $font-size-md;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

li {
  font-size: 1rem;
}

p {
  font-size: $font-size-base;
}
label {
  font-size: $font-size-base;
  margin-bottom: 0.5rem;
}

span {
  font-size: $font-size-sm;
}

small {
  font-size: $font-size-xs;
}

code {
  font-size: $font-size-sm;
  font-family: "Courier New", Courier, monospace;
  padding: 0.25rem;
}

// Override tailwind typography utility classes
.text-xs {
  font-size: $font-size-xs;
}
.text-sm {
  font-size: $font-size-sm;
}
.text-base {
  font-size: $font-size-base;
}
.text-md {
  font-size: $font-size-md;
}
.text-lg {
  font-size: $font-size-lg;
}
.text-xl {
  font-size: $font-size-xl;
}
.text-2xl {
  font-size: $font-size-2xl;
}
.text-3xl {
  font-size: $font-size-3xl;
}
